@import '../../theme.scss';

@keyframes fm-modal-fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fm-modal-fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}




#__modalOverlay__{
    background: rgba(0,0,0,.5);
    right: 0;
    top: 0;
    left:0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
    opacity: 0;
    transition: opacity 300ms ease;
    user-select:none;
}

#__modalOverlay__.fm-overlay-In{
    opacity: 1;
}

.fm-header{
    height: 30px;
    width: 100%;
    line-height: 30px;
    text-align: left;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;

    .fm-modal-title{
        color:rgb(102, 102, 102);
        font-size: 14px;
        font-weight: bold;
    }
}

.fm-modal .fm-close{
    float:right;
    line-height: 30px;
    outline: none;
}


.fm-modal-container{
	overflow:hidden;
	width:100%;
	height:100%;
	margin:auto;
	text-align:center;
	font-size:0;
    position:fixed;
    top:0px;
    z-index: 10000;
}

.fm-modal-container *{
    text-align: left;
}

.fm-modal-container:after,.fm-modal-container span{
	display:inline-block;
	height:100%;
	vertical-align:middle;
}

.fm-modal-container:after{
	content:'';
}

.fm-modal-container > .fm-modal{
	display:inline-block;
	vertical-align:middle;
	font-size:12px;
}

.fm-modal-container .fm-modal-content{
    text-align: left;
}

.fm-modal-container .fm-modal{
    padding-left:15px;
    padding-right:15px;
    //padding-top:25px;
    padding-bottom:15px;
    background: #fcfcfc;
    border-radius: 3px;
    border: #8E8E8E 1px solid;
    box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.3);
}

.fm-modal-container > .fm-modal{
    display: none;
    position: relative;
}


.fm-modal.fm-modal-enter-active,.fm-modal.fm-modal-entered,.fm-modal.fm-modal-leave{
    display: inline-block;
}

.fm-modal.fm-modal-enter{
    display: inline-block;
    animation: fm-modal-fadeIn .5s;
}

.fm-modal.fm-modal-leave{
    animation: fm-modal-fadeOut .5s;
}



.fm-modal-confirm-content{
    border-top:1px solid #e9e9e9;
    padding:16px;
    border-bottom:1px solid #e9e9e9;
}

.fm-modal-confirm-operation{
    margin-top: 10px;
    float: right;

    > * {
        margin-left: 5px;
    }
}
