
@mixin select-wrapper-base($height:30px){
    display:inline-block;
    min-width:130px;
    cursor:pointer;
    position:relative;

    .select-tags{
        padding-right: 10px !important;
        padding-bottom: 4px;
    }

    .select-inner{
        min-height:$height+(-2px);
        line-height:$height+(-2px);
        padding-left:10px;
        padding-right:24px;
        width:100%;
        border:#ccc 1px solid;
        border-radius:3px;
        position:relative;
        transition:border-color 0.5s ease;

        &:hover{
            border-color:#00a9e8;
        }

        .select-icon{
            position:absolute;
            right:0px;
            transition: transform 300ms ease;
            top:0px;
            height: 100%;
        }

        .expanded{
            transform: rotateZ(180deg)
        }

        .tags-selection{
            list-style: none;
            height: 100%;
            min-height: 24px;
            li{
                display: inline-block;
                margin-right: 4px;
                padding:0 4px;
                vertical-align: top;
                background:#f3f3f3;
                height: 20px;
                border-radius:4px;
                float: left;
                line-height: 20px;
                margin-top: 4px;
                box-sizing: content-box;
                cursor:pointer;
                .tag-remove{
                    cursor:pointer;
                    &:hover{
                        color: #404040;
                    }
                }
            }
            .tag-input{
                background: none;
                border: none;
                >span{
                    outline: none;
                    border:none;
                    height:100%;
                }
            }
        }
    }

    .select-selection{
        width:100%;
        .select-selection-current{
            width:100%;
            overflow:hidden;
            text-overflow:ellipsis;
        }
    }

    span {
        display:inline-block;
        vertical-align:top;
    }

    .select-dropdown{
        width:100%;
        background-color:#fff;
        position:absolute;
        //top:$height + 2px;
        margin-top: 5px;
        box-shadow:0px 0px 2px rgba(220, 220, 220, 0.7);
        border:rgba(204, 204, 204, 0.65) solid 1px;
        opacity:0;
        z-index:9999;

        padding-top:5px;
        padding-bottom:5px;
        border-radius:3px;


        ul{
            list-style:none;

            li{
                padding-left:10px;
                padding-right:10px;
                height:26px;
                line-height:26px;
                cursor:pointer;
                //padding:7px 33px 7px 16px;
                user-select:none;
                &:hover{
                    background-color:#eaf8fe !important;
                }
            }

            li[disabled="disabled"]{
                cursor: not-allowed;
                color:#ccc;
                &:hover{
                    background-color:inherit !important;
                }
            }

            .tagged{
                background: #eaf8fe !important;
            }
        }

        div{
            text-align:center;
            margin-bottom:8px;
            input {
                outline:none;
                width:95%;
                /*margin-left:10px;
                margin-right:10px;*/
                height:28px;
                line-height:28px;
                padding:4px 7px;
                border:1px solid #d9d9d9;
                border-radius:3px;
                color:#777;
            }
        }

    }
}

.select-dropdown-fadeIn{
    animation:fadeInDown 0.3s 0s ease both;
}

.select-dropdown-fadeOut{
    animation:fadeOutUp 0.3s 0s ease both;
}

.select-dropdown-hidden{
    display:none;
}

.select-wrapper-normal{
    @include select-wrapper-base
}

.select-wrapper-small{
    @include select-wrapper-base(26px)
}

.select-wrapper-large{
    @include select-wrapper-base(36px)
}

.select-wrapper-normal[tags],.select-wrapper-large[tags],.select-wrapper-small[tags]{
    cursor:text;
}

.spec{
    top:26px;
    border-top:none;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}
