
@mixin select-wrapper-base($height:28px){
    display:inline-block;
    min-width:130px;
    border:#ccc 1px solid;
    cursor:pointer;
    border-radius:3px;
    position:relative;
    .select-inner{
        height:$height+(-2px);
        line-height:$height+(-2px);
        padding-left:10px;
        padding-right:24px;
        width:100%;

        .select-icon{
            position:absolute;
            right:0px;
            transition: transform 300ms ease;
        }

        .expanded{
            transform: rotateZ(180deg)
        }
    }
    span {
        display:inline-block;
        vertical-align:top;
    }
    .select-dropdown{
        width:100%;
        background-color:#fff;
        position:absolute;
        top:$height + 2px;
        box-shadow:0px 0px 2px rgba(220, 220, 220, 0.7);
        border:rgba(204, 204, 204, 0.65) solid 1px;
        opacity:0;
        z-index:9999;

        padding-top:10px;
        padding-bottom:10px;
        border-radius:3px;

        ul{
            list-style:none;

            li{
                padding-left:10px;
                padding-right:10px;
                height:22px;
                line-height:22px;
                //padding:7px 33px 7px 16px;

                &:hover{
                    background-color:#eaf8fe !important;
                }

            }
        }

        div{
            text-align:center;
            margin-bottom:8px;
            input {
                outline:none;
                width:90%;
                margin-left:10px;
                margin-right:10px;
                height:28px;
                line-height:28px;
                padding:4px 7px;
                border:1px solid #d9d9d9;
                border-radius:3px;
                color:#777;
            }
        }

    }
}

.select-dropdown-fadeIn{
    animation:fadeInDown 0.3s 0s ease both;
}

.select-dropdown-fadeOut{
    animation:fadeOutUp 0.3s 0s ease both;
}

.select-dropdown-hidden{
    display:none;
}

.select-wrapper-normal{
    @include select-wrapper-base
}

.select-wrapper-small{
    @include select-wrapper-base(22px)
}

.select-wrapper-large{
    @include select-wrapper-base(32px)
}
