@import '../../theme.scss';

.fm-tooltip{
    position: relative;
    display: inline;

    .fm-tooltip-wrapper{
        position: absolute;
        z-index: 9999;
        display: none;
        font-size: 12px;
        line-height: 1.5;
        opacity: 0;
        transform: scale(0.1) translateZ(0);
        transition: transform 300ms cubic-bezier(0.08, 0.82, 0.17, 1),opacity 300ms ease-out;
    }

    .fm-tooltip-elem{
        display: inline-block;
        vertical-align: top;
    }
}

//.fm-tooltip
.fm-tooltip-effect-enter,.fm-tooltip-effect-entered{
    display: block !important;
}

.fm-tooltip-effect-enter-active,.fm-tooltip-effect-entered{
    opacity: 0.9 !important;
    transform: scale(1) !important;
}

.fm-tooltip-effect-leave{
    display: block !important;
}
/*
.fm-select-list-enter{
    display: block !important;
    animation:fadeInDown 0.3s 0s ease both;
}
.fm-select-list-entered{
    opacity: 1 !important;
    display: block !important;
}
.fm-select-list-leave{
    display: block !important;
    animation:fadeOutUp 0.3s 0s ease both;
}


*/


/*
.tooltip{
    position: absolute;
    z-index: 9999;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.5;
    opacity: 0.9;
    visibility:visible;
    transition: transform 500ms cubic-bezier(0.08, 0.82, 0.17, 1),opacity 300ms ease-out;
}
*/
.tooltip-arrow{
    position:absolute;
    width: 0;
    height: 0;
    border-color:transparent;
    border-style:solid;
}


.tooltip.tooltip-hidden{
    transform: scale(0.1) translateZ(0);
    opacity: 0;
}

.tooltip-top {
    > .fm-tooltip-wrapper{
        padding: 0px 0 9px 0;
    }
}
.tooltip-right {
    > .fm-tooltip-wrapper{
        padding: 0 0px 0 9px;
    }

}
.tooltip-bottom {
    > .fm-tooltip-wrapper{
        padding: 9px 0 0px 0;
    }

}
.tooltip-left {
    > .fm-tooltip-wrapper{
        padding: 0 9px 0 0px;
    }
}

.tooltip-left .tooltip-arrow{
    top:50%;
    right:5px;
    margin-top:-5px;
    border-width:5px 0 5px 5px;
    border-left-color:$black;
}

.tooltip-top .tooltip-arrow{
    bottom:5px;
    left:50%;
    margin-left:-5px;
    border-width:5px 5px 0;
    border-top-color:$black;
}


.tooltip-right .tooltip-arrow{
    top:50%;
    left:5px;
    margin-top:-5px;
    border-width:5px 5px 5px 0;
    border-right-color:$black;
}

.tooltip-bottom .tooltip-arrow{
    top:5px;
    left:50%;
    margin-left:-5px;
    border-width:0px 5px 5px;
    border-bottom-color:$black;
}

.tooltip-content{
    max-width: 250px;
    padding: 8px 10px;
    color:#fff;
    text-decoration:none;
    text-align:left;
    background-color:$black;
    border-radius:6px;
    box-shadow:0px 0px 4px rgba(0, 0, 0, 0.17);
    font-size: 12px;
}
