@import '../../theme.scss';

$line-height:5px;

.#{$prefixCls}-progress-line{
    position:relative;
}

.#{$prefixCls}-progress-success{
    .#{$prefixCls}-progress-line-padding{
        background-color:#77B91B;
    }
}

.#{$prefixCls}-progress-line-background{
    width:100%;
    height:$line-height;
    background-color:rgba($primary-background,0.1);
}

.#{$prefixCls}-progress-line-padding{
    height: $line-height;
    border-radius:100px;
    background-color:$primary-background;
    transition: all 300ms cubic-bezier(0.08, 0.82, 0.17, 1);
}

.#{$prefixCls}-progress-line-inner{
    display:inline-block;
    width:100%;
    background-color:rgba($primary-background,0.3);
    input{
        display:none;
    }
}

.#{$prefixCls}-progress-line-text{
    text-align:left;
    width:35px;
    margin-left:10px;
    font-size:1em;
    position:absolute;
    bottom:0;
    right:0;
}

.#{$prefixCls}-progress-line-wrapper{
    margin-right:45px;
    font-size:12px;
}
