
@font-face {
  font-family: 'TitilliumWeb-Bold';
  src:url('TitilliumWeb-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb';
  src:url('TitilliumWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
