@import '../../theme.scss';

.#{$prefixCls}-tooltip{
    position: relative;
    display: inline;

    .#{$prefixCls}-tooltip-wrapper{
        position: absolute;
        z-index: 9999;
        display: none;
        font-size: 12px;
        line-height: 1.5;
        opacity: 0;
        transform: scale(0.1) translateZ(0);
        transition: transform 300ms cubic-bezier(0.08, 0.82, 0.17, 1),opacity 300ms ease-out;
        white-space:nowrap;
    }

    .#{$prefixCls}-tooltip-elem{
        display: inline-block;
        vertical-align: top;
    }
}

.#{$prefixCls}-tooltip-effect-enter,
.#{$prefixCls}-tooltip-effect-entered{
    display: block !important;
}

.#{$prefixCls}-tooltip-effect-enter-active,
.#{$prefixCls}-tooltip-effect-entered{
    opacity: 0.9 !important;
    transform: scale(1) !important;
}

.#{$prefixCls}-tooltip-effect-leave{
    display: block !important;
}


.#{$prefixCls}-tooltip-arrow{
    position:absolute;
    width: 0;
    height: 0;
    border-color:transparent;
    border-style:solid;
}


.#{$prefixCls}-tooltip.#{$prefixCls}-tooltip-hidden{
    transform: scale(0.1) translateZ(0);
    opacity: 0;
}

.#{$prefixCls}-tooltip-top {
    > .fm-tooltip-wrapper{
        padding: 0px 0 9px 0;
    }
}
.#{$prefixCls}-tooltip-right {
    > .fm-tooltip-wrapper{
        padding: 0 0px 0 9px;
    }

}
.#{$prefixCls}-tooltip-bottom {
    > .fm-tooltip-wrapper{
        padding: 9px 0 0px 0;
    }

}
.#{$prefixCls}-tooltip-left {
    > .fm-tooltip-wrapper{
        padding: 0 9px 0 0px;
    }
}

.#{$prefixCls}-tooltip-left .#{$prefixCls}-tooltip-arrow{
    top:50%;
    right:5px;
    margin-top:-5px;
    border-width:5px 0 5px 5px;
    border-left-color:$black;
}

.#{$prefixCls}-tooltip-top .#{$prefixCls}-tooltip-arrow{
    bottom:5px;
    left:50%;
    margin-left:-5px;
    border-width:5px 5px 0;
    border-top-color:$black;
}


.#{$prefixCls}-tooltip-right .#{$prefixCls}-tooltip-arrow{
    top:50%;
    left:5px;
    margin-top:-5px;
    border-width:5px 5px 5px 0;
    border-right-color:$black;
}

.#{$prefixCls}-tooltip-bottom .#{$prefixCls}-tooltip-arrow{
    top:5px;
    left:50%;
    margin-left:-5px;
    border-width:0px 5px 5px;
    border-bottom-color:$black;
}

.#{$prefixCls}-tooltip-content{
    max-width: 250px;
    padding: 8px 10px;
    color:#fff;
    text-decoration:none;
    text-align:left;
    background-color:$black;
    border-radius:6px;
    box-shadow:0px 0px 4px rgba(0, 0, 0, 0.17);
    font-size: 12px;
}
