<style>





#notfound{
    padding-top:500px;
    width: 960;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
}


#container{
    padding-top:200px;
    position:relative;
}

#go2Home{
    margin-top: 15px;
    background:#3683c6;
    border:none;
    width: 110px;
    font-family:'TitilliumWeb-Bold' !important;
}



</style>
<div id ="container">
    <div id="notfound">
        <div id ="image">
            <img src = "../img/404.png" alt="middle">
        </div>

        <h3 class = "bold">PAGE NOT FOUND</h3>
        <div class="underline"></div>
        <p class = "body">It seems you have ended up at the wrong table.</p>
        <Fermi:buttons id="go2Home" content="Go Home" type="primary" ui-sref='home'></Fermi:buttons>
    </div>

</div>
</body>
