
$offset: 8px;


@function unary-direction($dire){
    @if $dire=="top" {
        @return "bottom"
    } @else if $dire=="bottom" {
        @return "top"
    } @else if $dire=="left"{
        @return "right"
    } @else if $dire=="right"{
        @return "left"
    }
}

@mixin arrow-pseudo-block{
    content:'';
    display:block;
    width:0;
    height:0;
    border-color:rgba(204,204,204,0);
}


@mixin arrow-direction($dire:"top",$ftBg:#f6f6f6,$bkBg:#bbb){
    &:before,&:after{
        @include arrow-pseudo-block;
    }

    @if $dire=="top" or $dire=="bottom"{
        border-top: none;
        border-bottom: none;
        border-left:none;
        border-right:none;
        left:50%;
        #{unary-direction($dire)}:0px;

        &:before,&:after{
            border-left:$offset+(-0.5px) solid transparent;
            border-right:$offset+(-0.5px) solid transparent;
            border-#{$dire}:$offset+(-1px) solid;
            margin-left:-$offset;
            position: absolute;
        }

        &:before{
            border-#{$dire}-color:$bkBg;
            margin-#{unary-direction($dire)}:-$offset;
            #{unary-direction($dire)}:0px;
        }

        &:after{
            border-#{$dire}-color:$ftBg;
            #{unary-direction($dire)}:-$offset+1px;
        }

    }
    @else if $dire=="left" or $dire=="right"{
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: none;
        top:50%;
        #{unary-direction($dire)}:0px;

        &:before,&:after{
            border-top:$offset+(-0.5px) solid transparent;
            border-bottom:$offset+(-0.5px) solid transparent;
            border-#{$dire}:$offset+(-1px) solid;
            top:0px;
            margin-top:-($offset+1)/2;
            position: absolute;
        }

        &:before{
            border-#{$dire}-color:$bkBg;
            #{unary-direction($dire)}:-$offset;
        }

        &:after{
            border-#{$dire}-color:$ftBg;
            #{unary-direction($dire)}:-$offset+1px;
        }
    }
}

.popover{
    max-width: 500px;
    min-width: 150px;
    position: absolute;
    z-index: 1000;
    border:1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(200,200,200,0.7);
    //margin-top: $offset;
    box-sizing: border-box;
    transition:transform 300ms cubic-bezier(0.08, 0.82, 0.17, 1);
    opacity:1;
    visibility:visible;

    .popover-title{
        padding:5px 14px;
        background-color:#F6F6F6;
        font-size: 12px;
    }

    .popover-content > *{
        padding:14px 14px;
    }

    .popover-content{
        overflow-x: hidden;
    }
}

.popover-btn{
    display:inline-block;
    position:relative;
    button{
        padding:5px;
    }
}

.popover-arrow{
    position:absolute;
}

.popover-top .popover-arrow{
    @include arrow-direction("top")
}

.popover-bottom .popover-arrow{
    @include arrow-direction("bottom")
}

.popover-left .popover-arrow{
    @include arrow-direction("left")
}

.popover-right .popover-arrow{
    @include arrow-direction("right")
}
