
$offset: 8px;

@mixin pseudo-block{
    content:'';
    display:block;
    width:0;
    height:0;
}

.popover{
    max-width: 500px;
    min-width: 150px;
    position: absolute;
    z-index: 1000;
    border:1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(200,200,200,0.7);

    .popover-title{
        padding:5px 14px;
        background-color:#F6F6F6;
        font-size: 12px;
    }

    .popover-content{
        padding:14px 14px;
    }
}

.popover-arrow{
    position:absolute;
    width: 0;
    height: 0;
    border-color:transparent;
    border-style:solid;
}

.popover-top {
  padding: 0px 0 9px 0;
}
.popover-right {
  padding: 0 0px 0 9px;
}
.popover-bottom {
  padding: 9px 0 0px 0;
}
.popover-left {
  padding: 0 9px 0 0px;
}


.popover-left .popover-arrow{
    top:50%;
    right:5px;
    margin-top:-5px;
    border-width:5px 0 5px 5px;
    border-left-color:#373737;
}

.popover-top .popover-arrow{
    //bottom:-$offset+1px;
    bottom:1px;
    left:50%;
    margin-left:-#{$offset};
    border-width:#{$offset} #{$offset} 0;
    border-top-color:#fff;
}


.popover-right .popover-arrow{
    top:50%;
    left:5px;
    margin-top:-5px;
    border-width:5px 5px 5px 0;
    border-right-color:#373737;
}

.popover-bottom .popover-arrow{
    top:5px;
    left:50%;
    margin-left:-5px;
    border-width:0px 5px 5px;
    border-bottom-color:#373737;
}

.popover-arrow{
    //content:'';display:block;width:0;height:0;border-color:rgba(204,204,204,0);border-left:7.5px solid transparent;border-right:7.5px solid transparent;border-bottom:7px solid #f6f6f6;position:absolute;left:14px;margin-top:-6px
    &:after{
        @include pseudo-block
        border-color:rgba(204,204,204,0);
        border-left:$offset+(-0.5px) solid transparent;
        border-right:$offset+(-0.5px) solid transparent;
        border-bottom:$offset+(-1px) solid #f6f6f6;
        left:50%;
        margin-left:-$offset;
        position: absolute;
        margin-top: -6px;
    }
    //content:'';display:block;width:0;height:0;border-color:rgba(204,204,204,0);border-left:7.5px solid transparent;border-right:7.5px solid transparent;border-bottom:7px solid #bbb;left:14px;margin-top:-7px
    &:before{
        @include pseudo-block
        border-color:rgba(204,204,204,0);
        border-left:$offset+(-0.5px) solid transparent;
        border-right:$offset+(-0.5px) solid transparent;
        border-bottom:$offset+(-1px) solid #bbb;
        left:50%;
        margin-left:-$offset;
    }
}
