<div class="fm-breadcrumb-container">
    <span ng-repeat="item in ::items track by $index" class="fm-breadcrumb">
        <span class="fm-breadcrumb-link" ng-if="::!item.label">
            {{::item}}
        </span>
        <a  class="fm-breadcrumb-link" ng-if="::item.label" href={{ item.href ? item.href : 'javascript:; ' }}>
            {{::item.label}}
        </a>
        <span class="fm-breadcrumb-slash">
            /
        </span>
    </span>
    <!--<div class="breadcrumb-decoration"></div>-->
</div>
