<div id="title" ng-init="Document.test()">
    <h1>
        Getting started with compoents API
    </h1>
</div>
<div id="content">
    <aside id="sidebar">
        <h2 class="label">Summary</h2>
        <ul>
            <li ui-sref="documentation.introduction">
                Introduction
            </li>
            <li ui-sref='github'>
                Github
            </li>
        </ul>
        <h2 class="label">Components</h2>
        <ul>
            <li class="type">Basic</li>
            <li ui-sref="documentation.button">Button</li>
            <li ui-sref="documentation.input">Input</li>
            <li class="type">Navigation</li>
            <li ui-sref="documentation.crumb">Breadcrumb</li>
            <li ui-sref="documentation.menu">Menu</li>
            <li ui-sref="documentation.steps">Steps</li>
            <li ui-sref="documentation.tags">Tabs</li>
            <li ui-sref="documentation.pagination">Pagination</li>
            <li class="type">Form</li>
            <li ui-sref="documentation.checkbox">Checkbox</li>
            <li ui-sref="documentation.radio">Radio</li>
            <li ui-sref="documentation.select">Select</li>
            <li ui-sref="documentation.switch">Switch</li>
            <li class="type">Display</li>
            <li ui-sref="documentation.notification">Notification</li>
            <li ui-sref="documentation.modal">Modal</li>
            <li ui-sref="documentation.popover">Popover</li>
            <li ui-sref="documentation.progress">Progress</li>
            <li ui-sref="documentation.tooltip">Tooltip</li>
        </ul>
    </aside>
    <section id="detail" ui-view></section>
</div>
