<div id="title">
    <div id="container">
        <h1>Fermi.UI - Yet another Angular UI library</h1>
        <Fermi:buttons id="start" content="npm install Fermi-UI --save" type="primary" size="large"></Fermi:buttons>
    </div>
</div>
<div id="content">
    <div id="feature1">
        <div class="detail">
            <div class="intro">
                <h2>Reuseable & Nestable</h2>
                <p>
                    Fermi-UI is a set of components that implements with AngularJS. The main purpose of this project is to make developers are able to build a Angular based application speedly and conveniently.
                </p>
                <p>
                    Thus, Fermi-UI offered about 17 components. And each component can be used or combined flexibly in a variety of scenarios. It can help developer to enhance and build a much stronger UI function.
                </p>
            </div>
        </div>
    </div>
    <div id="feature2">
        <div class="detail">
            <div class="intro">
                <h2>Workflow</h2>
                <p></p>
            </div>

        </div>
    </div>
    <div id="feature3">
        <div class="detail">
            <div class="intro">
                <h2>Fully Dedclarative</h2>
                <p></p>

            </div>
            <img src="../img/declarative.png" width="600px"/>
        </div>

    </div>
</div>
