<div id="intro">
    <div id="container">
        <h1>Fermi.UI - Yet another Angular UI library</h1>
        <Fermi:buttons id="start" content="npm install Fermi-UI --save" type="primary" size="large"></Fermi:buttons>
    </div>
</div>
<div id="content">
    <div id="feature1">
        <div class="detail">
            <h2>Reuseable & Nestable</h2>
            <p>
                Fermi-UI is a set of components that implements with AngularJS. The main purpose of this project is to make people can build a Angular based application speedly and conveniently.
            </p>
            <p>
                Each component can be used in a variety of scenarios and it can be nested so that user can get a stronger UI function module.
            </p>
        </div>
    </div>
    <div id="feature2">
        <div class="detail">
            <h2>Workflow</h2>
            <p></p>
        </div>
    </div>
    <div id="feature3">
        <div class="detail">
            <h2>Fully Dedclarative</h2>
            <p></p>
        </div>
        <img src="../img/declarative.png" width="600px"/>
    </div>
</div>
