.progress-circle-wrapper{
    display:inline-block;
    margin-right:8px;
    margin-bottom:5px;

    .progress-circle-inner{
        position:relative;
        span{
            width:100%;
            display:block;
            text-align:center;
            transform:translateY(-50%);
            top:50%;
            position:absolute;
            font-size:20px;
            font-weight:bold;
        }

        svg{
            path{
                &:last-child{
                    transition:stroke-dashoffset 0.6s ease 0s, stroke 0.6s ease;
                }
            }
        }
    }
}
