$progress-bg-color:#147EE6;


.progress-loading{
    position:fixed;
    top:0px;
    left:-5px;
    width:100%;
    z-index:9999;
    height:2px;
    border-radius:1px;
    transition:width 600ms ease-out,visibility 500ms linear;
    transform:translateZ(0);
    background-color:$progress-bg-color;
    visibility:visible;
    
    dd,dt{
        position:absolute;
        top:0px;
        height:2px;
        border-radius:100%;
        box-shadow:#{$progress-bg-color} 1px 0 6px 1px;
        animation:pulse 2s ease-out 0s infinite;
    }

    dd{
        opacity:.6;
        width:180px;
        right:-80px;
        clip:rect(-6px,90px,14px,-6px);
    }

    dt{
        opacity:.6;
        width:20px;
        right:0px;
        clip:rect(-6px,22px,14px,10px);
    }
}
