#fm-notification-container{
    position: fixed;
    z-index: 99999;
    margin-right: 25px;
    width: 350px;

    .fm-notice{
        padding:15px;
        border-radius: 3px;
        box-shadow: 0 1px 4px rgba(220, 220, 220, 0.7);
        background: #fff;
        position: relative;
        margin-bottom: 10px;
        overflow: hidden;
        line-height: 1.5;
        border:1px solid #E6E6E6;
        transition: right 200ms ease-out 50ms;
        right:-500px;
        width: 100%;

        div > i {
            position: absolute;
            &:before{
                font-size: 40px;
            }
            top:50%;
            margin-top:-30px;
        }

        div > h3, div > .fm-notice-content {
            margin-left: 60px;
        }


        > .fm-close {
            position: absolute;
            right:5px;
            top:2px;
        }
    }

    .fm-noticeStatus-normal{
        border:1px solid #7DBCE0;
        background: #CDE8F6;
        h3,.fm-notice-content, div > i:before{
            color:#447EAF;
        }
    }

    .fm-noticeStatus-success{
        border:1px solid #AFCDA4;
        background: #DDF3D5;
        h3,.fm-notice-content, div > i:before{
            color:#597151;
        }
    }

    .fm-noticeStatus-warn{
        border:1px solid #D8CF82;
        background: #F8F4D5;

        h3,.fm-notice-content, div > i:before{
            color:#96722E;
        }
    }

    .fm-noticeStatus-error{
        border:1px solid #BE8181;
        background: #ECC8C5;

        h3,.fm-notice-content, div > i:before{
            color:#B4302B;
        }
    }

    .fm-noticeStatus-default{
        div > .fm-notice-content, div > h3 {
            margin-left:0px;
        }
    }

    .fm-notice-show{
        right:0px;
    }

}
