<div id="notification" class="api">
    <div class="componentbox-abstract">
        <h3>
            <p>Notification</p>
        </h3>
        <p>An element displays notification that explains latest information.</p>
    </div>
    <div class="componentbox-usage">
        <h4>
            <p>
                Usage
            </p>
        </h4>
        <componentbox>
            <demo>
                <Fermi:Buttons content="Default notification" type="primary" ng-click="Notification.showDefault()"></Fermi:Buttons>
            </demo>
            <description>
                Make a default notification on the right.
            </description>
            <codegroup>
                <es>
//inject Fermi.Notification in controller first.
notification.default('Normal', "Here's a normal message."")
                </es>
            </codegroup>
        </componentbox>
        <componentbox>
            <demo>
                <Fermi:Buttons content="Normal" ng-click="Notification.showNormal()"></Fermi:Buttons>
                <Fermi:Buttons content="Successed" ng-click="Notification.showSuccess()"></Fermi:Buttons>
                <Fermi:Buttons content="Error" ng-click="Notification.showError()"></Fermi:Buttons>
                <Fermi:Buttons content="Warning" ng-click="Notification.showWarning()"></Fermi:Buttons>
            </demo>
            <description>
                Notification with different type.
            </description>
            <codegroup>
                <es>
notification.normal('Normal', "Here's a normal message.")
notification.success('Success', "Here's a successful message.")
notification.warn('Warning', "Here's a warning message.")
notification.error('Error', "Here's a error.")
                </es>
            </codegroup>
        </componentbox>
        <componentbox>
            <demo>
                <Fermi:Buttons content="Customized" type="primary" ng-click="Notification.showCustomized()"></Fermi:Buttons>
            </demo>
            <description>
                A customized notification. Once notification is removed, a message will be printed in console(F12).
            </description>
            <codegroup>
                <es>
let option = {
    topic: 'customized message',
    message: 'After notification is removed, please check the output in console.',
    type:'normal',
    callback:() => console.info('callback is executed.')
}

notification.send(option)
                </es>
            </codegroup>
        </componentbox>
    </div>

    <div class="componentbox-api">
        <h4>
            <p>
                API
            </p>

        </h4>
        <div>
            <p class="note">
                * Note: Please inject Fermi.Notification as a service in your controller first.
            </p>
            <table class="api-description method">
                <thead>
                    <tr>
                        <th>Method</th>
                        <th>Description</th>
                        <th>Signature</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            default
                        </td>
                        <td>
                            Makes a default notification.
                        </td>
                        <td>

                            <code>
                                (topic: String, message: String) => void
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            normal
                        </td>
                        <td>
                            Makes a normal notification.
                        </td>
                        <td>

                            <code>
                                (topic: String, message: String) => void
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            success
                        </td>
                        <td>
                            Makes a successful notification.
                        </td>
                        <td>

                            <code>
                                (topic: String, message: String) => void
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            warn
                        </td>
                        <td>
                            Makes a warning.
                        </td>
                        <td>

                            <code>
                                (topic: String, message: String) => void
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            error
                        </td>
                        <td>
                            Makes a error.
                        </td>
                        <td>

                            <code>
                                (topic: String, message: String) => void
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            send
                        </td>
                        <td>
                            The underlying method of notification service.
                        </td>
                        <td>
                            <code>
                                (option: object) => void
                            </code>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h6>
                <p>
                    Notification - send option object
                </p>
            </h6>
            <table class="api-description">
                <thead>
                    <tr>
                        <th>Prop</th>
                        <th>Type</th>
                        <th>Required</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            topic
                        </td>
                        <td>
                            String
                        </td>
                        <td>
                            <code>
                                Optional
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            message
                        </td>
                        <td>
                            String
                        </td>
                        <td>
                            <code>
                                Optional
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            type
                        </td>
                        <td>
                            message template type
                        </td>
                        <td>
                            <code>
                                Requ
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            callback
                        </td>
                        <td>
                            Function
                        </td>
                        <td>
                            <code>
                                Optional
                            </code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
