<div id="i18n" class="api">
    <div class="componentbox-abstract">
        <h3>
            <p>i18n</p>
        </h3>
        <p>Internationalization for some component.</p>
    </div>
    <div class="componentbox-usage">
        <h4>
            <p>
                Usage
            </p>
        </h4>
        <componentbox>
            <demo>
                <Fermi:Buttons content="打开一个对话框" type="primary" ng-click="i18n.showModal()"></Fermi:Buttons>
            </demo>
            <description>
                Fermi-UI provides very weak i18n support for some component. e.g. Modal, Select.
            </description>
            <codegroup>
                <es>
app.config(['FMi18nProvider', i18n => i18n.locale('zhCN')])
                </es>
            </codegroup>
        </componentbox>
    </div>

    <div class="componentbox-api">
        <h4>
            <p>
                API
            </p>
        </h4>
        <div>
            <table class="api-description method">
                <thead>
                    <tr>
                        <th>Method</th>
                        <th>Description</th>
                        <th>Signature</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            locale
                        </td>
                        <td>
                            Specifies the lang for Fermi module, Fermi will use 'zhCN' by default.
                        </td>
                        <td>
                            (lang: String) => void
                        </td>
                    </tr>
                    <tr>
                        <td>
                            localize
                        </td>
                        <td>
                            Sets the new language package.
                        </td>
                        <td>
                            (lang: String, package: object) => void
                        </td>
                    </tr>
                </tbody>
            </table>
            <h6>
                <p>
                    i18n - package object
                </p>
            </h6>
            <table class="api-description method">
                <thead>
                    <tr>
                        <th>Prop</th>
                        <th>Type</th>
                        <th>Required</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Go
                        </td>
                        <td>
                            String
                        </td>
                        <td>
                            Optional
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PleaseConfirm
                        </td>
                        <td>
                            String
                        </td>
                        <td>
                            Optional
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PleaseConfirm
                        </td>
                        <td>
                            String
                        </td>
                        <td>
                            Optional
                        </td>
                    </tr>
                    <tr>
                        <td>
                            ok
                        </td>
                        <td>
                            String
                        </td>
                        <td>
                            Optional
                        </td>
                    </tr>
                    <tr>
                        <td>
                            dismiss
                        </td>
                        <td>
                            String
                        </td>
                        <td>
                            Optional
                        </td>
                    </tr>
                    <tr>
                        <td>
                            pleaseInput
                        </td>
                        <td>
                            String
                        </td>
                        <td>
                            Optional
                        </td>
                    </tr>
                    <tr>
                        <td>
                            page
                        </td>
                        <td>
                            String
                        </td>
                        <td>
                            Optional
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
