<div id="progress" class="api">
    <div class="componentbox-abstract">
        <h3>
            <p>Progress</p>
        </h3>
        <p>An element which shows the progression of a task.</p>
    </div>
    <div class="componentbox-usage">
        <h4>
            <p>
                Usage
            </p>
        </h4>
        <componentbox>
            <demo>
                <Fermi:Line value="Progress.line" default="0"></Fermi:Line>
            </demo>
            <description>
                ...
            </description>
            <codegroup>
                <markup>
<Fermi:Line value="Progress.line" default="0" ng-escape></Fermi:Line>
                </markup>
            </codegroup>
        </componentbox>
        <componentbox>
            <demo>
                <Fermi:Query control="Progress.query" actived></Fermi:Line>
            </demo>
            <description>
                ...
            </description>
            <codegroup>
                <markup>
<Fermi:Query control="Progress.query" actived ng-escape></Fermi:Query>
                </markup>
            </codegroup>
        </componentbox>
        <componentbox>
            <demo>
                <div style="width:130px;height:130px;" class="progress-circle">
                    <Fermi:Circle value="Progress.circle1" stroke-width="6" showInfo=true progress default=10></Fermi:Circle>
                </div>
                <div style="width:130px;height:130px;" class="progress-circle">
                    <Fermi:Circle value="Progress.circle2" stroke-width="6" outer="#ccc" default=30 shape="rect"></Fermi:Circle>
                </div>
            </demo>
            <description>
                ...
            </description>
            <codegroup>
                <markup>
<div style="width:130px;height:130px;" class="progress-circle" ng-escape>
    <Fermi:Circle value="Progress.circle1" stroke-width="6" showInfo=true default=10 progress></Fermi:Circle>
</div>
<div style="width:130px;height:130px;" class="progress-circle" ng-escape>
    <Fermi:Circle value="Progress.circle2" stroke-width="6" outer="#ccc" default=30 shape="rect"></Fermi:Circle>
</div>
                </markup>
            </codegroup>
        </componentbox>
        <componentbox>
            <demo>
                <Fermi:Buttons content="start to load" type="primary"  ng-click="Progress.showLoadingbar()"></Fermi:Buttons>
                <Fermi:Buttons content="finish the loading"  ng-click="Progress.closeLoadingbar()"></Fermi:Buttons>
            </demo>
            <description>
                ...
            </description>
            <codegroup>
                <es>
loading.start()
loading.done()
                </es>
            </codegroup>
        </componentbox>
    </div>

    <div class="componentbox-api">
        <h4>
            <p>
                API
            </p>
        </h4>
        <div>
            <h5>
                <p>
                    Line
                </p>
            </h5>
            <table class="api-description">
                <thead>
                    <tr>
                        <th>Props</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            value
                        </td>
                        <td>
                            Specifies the value for the linear bar.
                        </td>
                        <td>
                            identifier
                        </td>
                        <td>
                            <code>
                                undefined
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            default
                        </td>
                        <td>
                            Specifies the default value for the linear bar.
                        </td>
                        <td>
                            number
                        </td>
                        <td>
                            <code>
                                0
                            </code>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h5>
                <p>
                    Circle
                </p>
            </h5>
            <table class="api-description">
                <thead>
                    <tr>
                        <th>Props</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            value
                        </td>
                        <td>
                            Specifies the value for the circle bar.
                        </td>
                        <td>
                            identifier
                        </td>
                        <td>
                            <code>
                                undefined
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            default
                        </td>
                        <td>
                            Specifies the default value for the circle bar.
                        </td>
                        <td>
                            number
                        </td>
                        <td>
                            <code>
                                0
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            shape
                        </td>
                        <td>
                            Specifies the shape for the circle bar.
                            option list: <code>rect</code> <code>round</code>
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                            <code>
                                round
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            inner
                        </td>
                        <td>
                            Specifies the inner color for the circle bar.
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                            <code>
                                #e9e9e9
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            outer
                        </td>
                        <td>
                            Specifies the outer color for the circle bar.
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                            <code>
                                #488fcd
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            progress
                        </td>
                        <td>
                            Specifies that the circle bar should be effect after its value changed.
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                            <code>
                                not-specified
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            unit
                        </td>
                        <td>
                            Specifies the unit character for circle bar info.
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                            <code>
                                %
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            showinfo
                        </td>
                        <td>
                            Specifies the value number will be shown in component.
                            option list: <code>true</code> <code>false</code>
                        </td>
                        <td>
                            string
                        </td>
                        <td>
                            <code>
                                false
                            </code>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h5>
                <p>
                    Query
                </p>
            </h5>
            <table class="api-description">
                <thead>
                    <tr>
                        <th>Props</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            actived
                        </td>
                        <td>
                            Specifies that the query bar should be displayed.
                        </td>
                        <td>
                            boolean
                        </td>
                        <td>
                            <code>
                                not-specified
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            control
                        </td>
                        <td>
                            Binding of the query bar instance. It can be accessed from controller scope.
                        </td>
                        <td>
                            identifier
                        </td>
                        <td>
                            <code>
                                undefined
                            </code>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h6>
                <p>
                    Query - control
                </p>
            </h6>
            <table class="api-description">
                <thead>
                    <tr>
                        <th>Method</th>
                        <th>Description</th>
                        <th>Signature</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            show
                        </td>
                        <td>
                            Calling the method to display the query bar.
                        </td>
                        <td>

                            <code>
                                () => void
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            hide
                        </td>
                        <td>
                            Calling the method to hide the query bar.
                        </td>
                        <td>

                            <code>
                                () => void
                            </code>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h5>
                <p>
                    LoadingBar Service
                </p>
            </h5>
            <p class="note">
                * Note: Please inject Fermi.Loading as service in your controller first.
            </p>
            <table class="api-description">
                <thead>
                    <tr>
                        <th>Method</th>
                        <th>Description</th>
                        <th>Signature</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            start
                        </td>
                        <td>
                            Calling the service to start the loading animation.
                        </td>
                        <td>

                            <code>
                                () => void
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>done</td>
                        <td>
                            Calling the service to finish the loading animation.
                        </td>
                        <td>

                            <code>
                                () => void
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>inc</td>
                        <td>
                            Increasing the loading bar percentage value.
                        </td>
                        <td>

                            <code>
                                number => void
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>set</td>
                        <td>
                            Setting the loading bar percentage value.
                        </td>
                        <td>

                            <code>
                                number => void
                            </code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
