<div id="tab" class="api">
    <div class="componentbox-abstract">
        <h3>
            <p>Tab</p>
        </h3>
        <p>An element which is a hidden section of content activated by a menu.</p>
    </div>
    <div class="componentbox-usage">
        <h4>
            <p>
                Usage
            </p>
        </h4>
        <componentbox>
            <demo>
                <Fermi:Tabs>
                     <Fermi:Tab header="你生存做些什么, 我不关心" actived>
                         <div>
                             <p>It doesn't interest me who you know or how you came to be here. I want to know if you will stand in the center of the fire with me and not shrink back. </p>
                             <br>
                             <p>我并不关心你是谁，你是如何来到这里， </p>
                             <p>我想知道，你是否会同我一起站在火焰的中心，毫不退缩。</p>
                             <br>
                             <p>It doesn't interest me where or what or with whom you have studied.I want to know what sustains you, from the inside, when all else falls away. </p>
                             <br>
                             <p>我并不关心你在哪里受到教育、你学了什么或者你同谁一起学习， </p>
                             <p>我想知道，当一切都背弃了你时，是什么在内心支撑着你。 </p>
                             <br>
                             <p>I want to know if you can be alone with yourself and if you truly like the company you keep in the empty moments. </p>
                             <br>
                             <p>我想知道，你是否能孤独地面对你自己， </p>
                             <p>在空寂的时候，你是否真正喜欢你结交的朋友。</p>
                         </div>
                     </Fermi:Tab>
                     <Fermi:Tab header="江山多少年" >
                         <p>我将红尘里的江山看了一场，不过是起落浮沉数年的时光；</p>
                         <p>朱红的新纱覆了落尘的旧梦，年少的女子爱上年少的郎。 </p>
                         <p>我将红尘里的江山看了一场，人物与是非都在年月里淌； </p>
                         <p>层层后浪拥着前浪，今朝的美酒醉倒今朝的倜傥。 </p>
                         <p>一时明月，一时花黄。 </p>
                         <p>我在红尘里的江山中回头望，阑珊的灯火处阑珊的一方， </p>
                         <p>多少年后的风景，多少年前的模样。 </p>
                     </Fermi:Tab>
                 </Fermi:Tabs>
            </demo>
            <description>
                Tab example.
            </description>
            <codegroup>
                <markup>
<Fermi:Tabs ng-escape>
    <Fermi:Tab header="你生存做些什么, 我不关心" actived>
        <div>
            <p>It doesn't interest me who you know or how you came to be here. I want to know if you will stand in the center of the fire with me and not shrink back. </p>
            <br>
            <p>我并不关心你是谁，你是如何来到这里， </p>
            <p>我想知道，你是否会同我一起站在火焰的中心，毫不退缩。</p>
            <br>
            <p>It doesn't interest me where or what or with whom you have studied.I want to know what sustains you, from the inside, when all else falls away. </p>
            <br>
            <p>我并不关心你在哪里受到教育、你学了什么或者你同谁一起学习， </p>
            <p>我想知道，当一切都背弃了你时，是什么在内心支撑着你。 </p>
            <br>
            <p>I want to know if you can be alone with yourself and if you truly like the company you keep in the empty moments. </p>
            <br>
            <p>我想知道，你是否能孤独地面对你自己， </p>
            <p>在空寂的时候，你是否真正喜欢你结交的朋友。</p>
        </div>
    </Fermi:Tab>
    <Fermi:Tab header="江山多少年" >
        <p>我将红尘里的江山看了一场，不过是起落浮沉数年的时光；</p>
        <p>朱红的新纱覆了落尘的旧梦，年少的女子爱上年少的郎。 </p>
        <p>我将红尘里的江山看了一场，人物与是非都在年月里淌； </p>
        <p>层层后浪拥着前浪，今朝的美酒醉倒今朝的倜傥。 </p>
        <p>一时明月，一时花黄。 </p>
        <p>我在红尘里的江山中回头望，阑珊的灯火处阑珊的一方， </p>
        <p>多少年后的风景，多少年前的模样。 </p>
    </Fermi:Tab>
 </Fermi:Tabs>
                </markup>
            </codegroup>
        </componentbox>
        <componentbox>
            <demo>
                <Fermi:Tabs>
                     <Fermi:Tab header="地铁车站" disabled>
                         <p>In a Station of the Metro </p>
                         <p> The apparition of these faces in the crowd; </p>
                         <p>Petals on a wet, black bough.</p>
                         <br>
                         <br>
                         <p>这些面庞从人群中涌现，</p>
                         <p>湿漉漉的黑树干上花瓣朵朵。</p>
                     </Fermi:Tab>
                     <Fermi:Tab header="风车骑士" actived>
                         <div>
                             要去做那些不能实现的梦，去击败无法战胜的敌人，去忍耐那些难以忍受的悲伤，去勇者都不敢步入的地方。
                         </div>
                     </Fermi:Tab>
                 </Fermi:Tabs>
            </demo>
            <description>
                Tab example with different status.
            </description>
            <codegroup>
                <markup>
<Fermi:Tabs ng-escape>
     <Fermi:Tab header="地铁车站" disabled>
         <p>In a Station of the Metro </p>
         <p> The apparition of these faces in the crowd; </p>
         <p>Petals on a wet, black bough.</p>
         <br>
         <br>
         <p>这些面庞从人群中涌现，</p>
         <p>湿漉漉的黑树干上花瓣朵朵。</p>
     </Fermi:Tab>
     <Fermi:Tab header="风车骑士" actived>
         <div>
             要去做那些不能实现的梦，去击败无法战胜的敌人，去忍耐那些难以忍受的悲伤，去勇者都不敢步入的地方。
         </div>
     </Fermi:Tab>
 </Fermi:Tabs>
                </markup>
            </codegroup>
        </componentbox>
    </div>

    <div class="componentbox-api">
        <h4>
            <p>
                API
            </p>
        </h4>
        <div>
            <h5>
                <p>
                    Tab
                </p>
            </h5>
            <table class="api-description">
                <thead>
                    <tr>
                        <th>Prop</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            header
                        </td>
                        <td>
                            Specifies the name for the tab.
                        </td>
                        <td>
                            String
                        </td>
                        <td>
                            <code>
                                ''
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            actived
                        </td>
                        <td>
                            Specifies that the tab should be actived.
                        </td>
                        <td>
                            boolean
                        </td>
                        <td>
                            <code>
                                not-specified
                            </code>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            disabled
                        </td>
                        <td>
                            Specifies that the tab should be disabled.
                        </td>
                        <td>
                            boolean
                        </td>
                        <td>
                            <code>
                                not-specified
                            </code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
