<div id="tooltip" class="api">
    <div class="componentbox-abstract">
        <h3>
            <p>Tooltip</p>
        </h3>
        <p>An element displays additional information for a block content/component.</p>
    </div>
    <div class="componentbox-usage">
        <h4>
            <p>
                Usage
            </p>
        </h4>
        <componentbox>
            <demo>
                <Fermi:tooltip placement="top" content="Tooltip">
                    <span> Move the cursor on the content </span>
                </Fermi:tooltip>
            </demo>
            <description>
                ...
            </description>
            <codegroup>
                <markup>
<Fermi:tooltip placement="top" content="Tooltip" ng-escape>
    <span> Move the cursor on the content </span>
</Fermi:tooltip>
                </markup>
            </codegroup>
        </componentbox>
        <componentbox>
            <demo>
                <Fermi:tooltip placement="left" content="Tooltip">
                    <Fermi:buttons content="Left"></Fermi:buttons>
                </Fermi:tooltip>
                <Fermi:tooltip placement="top" content="Tooltip">
                    <Fermi:buttons content="Top"></Fermi:buttons>
                </Fermi:tooltip>
                <Fermi:tooltip placement="bottom" content="Tooltip">
                    <Fermi:buttons content="Bottom"></Fermi:buttons>
                </Fermi:tooltip>
                <Fermi:tooltip placement="right" content="Tooltip">
                    <Fermi:buttons content="Right"></Fermi:buttons>
                </Fermi:tooltip>
            </demo>
            <description>
                ...
            </description>
            <codegroup>
                <markup>
<Fermi:tooltip placement="left" content="Tooltip" ng-escape>
    <Fermi:buttons content="Left"></Fermi:buttons>
</Fermi:tooltip>
<Fermi:tooltip placement="top" content="Tooltip" ng-escape>
    <Fermi:buttons content="Top"></Fermi:buttons>
</Fermi:tooltip>
<Fermi:tooltip placement="bottom" content="Tooltip" ng-escape>
    <Fermi:buttons content="Bottom"></Fermi:buttons>
</Fermi:tooltip>
<Fermi:tooltip placement="right" content="Tooltip" ng-escape>
    <Fermi:buttons content="Right"></Fermi:buttons>
</Fermi:tooltip>
                </markup>
            </codegroup>
        </componentbox>
    </div>

    <div class="componentbox-api">
        <h4>
            <p>
                API
            </p>
        </h4>
        <div>
            <table class="api-description">
                <thead>
                    <tr>
                        <th>Props</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Default Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            items
                        </td>
                        <td>
                            Specifies the path of navigator.
                        </td>
                        <td>
                            Array&lt;string&gt;
                        </td>
                        <td>
                            <code>
                                []
                            </code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
