

html,body{
    margin:0px;
    padding: 0px;
}

#header{
    width: 100%;
    height: 80px;
    position: fixed;
    top:0px;
    .menuItem{
        height: 100%;
        line-height: 80px;
        float: right;
    }
    background-color:rgba(0,0,0,.45);
    border-bottom:none;
    color:#eee;
    z-index:999;
}

#view{
    #intro{
        font-size:3rem;
        background:url('../img/header.jpg');
        height:600px;
        padding-top:80px;
        position:relative;
        color:#fff;
        > #container{
            width:1020px;
            text-align:center;
            height:410px;
            padding-top:140px;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            > div {
                font-family:'TitilliumWeb-Bold' !important;
            }
            > #start{
                background:#404F6B;
                border:none;
                > span {
                    font-family:'TitilliumWeb-Bold' !important;
                }
            }
        }
    }
}
