html,body{
    margin:0px;
    padding: 0px;
}

#header{
    width: 100%;
    height: 80px;
    position: fixed;
    top:0px;
    .menuItem{
        height: 100%;
        line-height: 80px;
        float: right;
    }
    background-color:rgba(0,0,0,.3);
    border-bottom:none;
    color:#eee;
    z-index:999;
}

#view{
    #intro{
        background:url('../img/header.jpg');
        height:600px;
    }
}
