
*{
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}

.tooltip *{
    box-sizing: border-box;
}


.tooltip-arrow{
    position:absolute;
    width: 0;
    height: 0;
    border-color:transparent;
    border-style:solid;
}

.tooltip{
    position: absolute;
    z-index: 999;
    display: block;
    visibility: visible;
    font-size: 12px;
    line-height: 1.5;
    opacity: 0.9;
    visibility:visible;
    transition: all 200ms cubic-bezier(0.08, 0.82, 0.17, 1);;
}

.tooltip.tooltip-hidden{
    /*display: none;*/
    visibility: hidden;
    transform: scale(0);
}

.tooltip-top {
  padding: 0px 0 9px 0;
}
.tooltip-right {
  padding: 0 5px 0 9px;
}
.tooltip-bottom {
  padding: 9px 0 0px 0;
}
.tooltip-left {
  padding: 0 9px 0 5px;
}

.tooltip-left .tooltip-arrow{
    top:50%;
    right:4px;
    margin-top:-5px;
    border-width:5px 0 5px 5px;
    border-left-color:#373737;
}

.tooltip-top .tooltip-arrow{
    bottom:4px;
    left:50%;
    margin-left:-5px;
    border-width:5px 5px 0;
    border-top-color:#373737;
}


.tooltip-right .tooltip-arrow{
    top:50%;
    left:4px;
    margin-top:-5px;
    border-width:5px 5px 5px 0;
    border-right-color:#373737;
}

.tooltip-bottom .tooltip-arrow{
    top:4px;
    left:50%;
    margin-left:-5px;
    border-width:0px 5px 5px;
    border-bottom-color:#373737;
}

.tooltip-content{
    max-width: 250px;
    padding: 8px 10px;
    color:#fff;
    text-decoration:none;
    text-align:left;
    background-color:#373737;
    border-radius:6px;
    box-shadow:0px 0px 4px rgba(0, 0, 0, 0.17);
    font-size: 12px;
}
