@import "../../theme.scss";

@mixin Step($size, $iconSize){
    .#{$prefixCls}-steps-item{
        display: inline-block;
        vertical-align:top;
        position: relative;
        padding-left: 10px;
        overflow: hidden;
        > .#{$prefixCls}-steps-icon{
            padding-right: 10px;
            display: inline-block;
            background-color: #fff;
            position: relative;
            z-index: 100;
            &:before{
                color:$primary-btn-background;
                display:block;
                width:$size;
                height:$size;
                line-height: $size;
                font-size:$iconSize - 2px;
                text-align:center;
                border:$primary-btn-background 1px solid;
                border-radius:50%;
                transition:background 300ms ease, border 300ms ease;
            }
        }

        > .#{$prefixCls}-steps-sq {
            &:before{
                content:attr(data-step);
                font-size:12px;
                line-height: $size - 1px;
                display: block;
                background-color:$primary-btn-background;
                text-align:center;
                width: $size;
                height: $size;
                border-radius: 50%;
                color:#fff;
            }
        }

        .#{$prefixCls}-steps-title {
            font-weight: bold;
            font-size:$iconSize - 2px;
            margin-left: -3px;
            background-color: #fff;
            height: $size;
            line-height: $size;
            display: inline-block;
            vertical-align: top;
            position: relative;
            z-index: 100;
        }

        .#{$prefixCls}-steps-line{
            position: absolute;;
            left:10px;
            top:0px;
            z-index: 0;
            height: $size;
            width: 100%;
            > i {
                background-color: #ccc;
                display: inline-block;
                vertical-align: top;
                height: 1px;
                position: absolute;
                top: 50%;
                width:100%;

                &:after{
                    width: 0%;
                    content: '';
                    display: block;
                    height: 1px;
                    background-color:#ccc;
                    transition: all 400ms ease;
                }
            }
        }

        .#{$prefixCls}-steps-description{
            margin-left: $size + 10px;
        }
    }

    .#{$prefixCls}-steps-state-checked{
        .#{$prefixCls}-steps-line{
            > i {
                &:after{
                    background-color: $primary-btn-background;
                    width: 100%;
                }
            }
        }
    }

    .#{$prefixCls}-steps-state-waiting{
        > .#{$prefixCls}-steps-icon {
            &:before{
                background-color:#fff;
                color:#ccc;
                border:#ccc 1px solid;
            }
        }
    }

    .#{$prefixCls}-steps-item{
        &:last-child{
            .#{$prefixCls}-steps-line{
                > i {
                    display:none;
                }
            }
        }
    }
}


@mixin Vertical($size){
    .#{$prefixCls}-steps-item{
        display: block;
        > .#{$prefixCls}-steps-line{
            height: 100%;
            width: 24px;
        }
    }
    .#{$prefixCls}-steps-item{
        display: block;
        margin-bottom: 10px;
        > .#{$prefixCls}-steps-line{
            height: 100%;
            width: $size;
            > i {
                height: 100%;
                top:0;
                width: 1px;
                left:50%;
                &:after{
                    width:1px;
                    height:0%;
                }
            }
        }

        > .#{$prefixCls}-steps-icon{
            padding-bottom: 10px;
        }
    }

    .#{$prefixCls}-steps-state-checked{
        .#{$prefixCls}-steps-line{
            > i {
                &:after{
                    background-color: $primary-btn-background;
                    height:100%;
                }
            }
        }
    }
}

.#{$prefixCls}-steps-container{
    width: 100%;
    margin: auto;
    padding-top:5px;
    padding-bottom:5px;

    .#{$prefixCls}-steps-H-small{
        @include Step(18px, 14px);
    }

    .#{$prefixCls}-steps-H-normal{
        @include Step(24px, 16px);
    }

    .#{$prefixCls}-steps-V-small{
        @include Step(18px, 14px);
        @include Vertical(18px);
    }

    .#{$prefixCls}-steps-V-normal{
        @include Step(24px, 16px);
        @include Vertical(24px);
    }
}
