@import '../../theme.scss';


@mixin SubMenu{
    .fm-submenu-title{
        height: 42px;
        line-height: 42px;
        user-select:none;
        border-right: #e9e9e9 1px solid;
        &:hover{
            background-color: $hover-color !important;
            cursor: pointer;
        }
    }

    .fm-submenu-container{
        width:100%;
        position: relative;

        > .fm-submenu-title > .menu-icon{
            position: absolute;
            right:0px;
            top: 0px;
            height: 42px;
            transition:transform 300ms ease;
            &:before{
                display: block;
                height: 42px;
                line-height: 42px;
            }
        }

        > .fm-submenu-items{
            @include slideUp;
        }
    }

    .fm-submenu-actived{
        > .fm-submenu-title > .menu-icon{
            @include rotate180;
        }

        > .fm-submenu-items{
            @include slideDown;
        }
    }
}

@mixin base{
    .fm-menu-item{
        width: 100%;
        height: 42px;
        line-height: 42px;
        padding-right: 15px;
        border-right: #e9e9e9 1px solid;
        transition: border-color 300ms ease;

        > span{
            user-select:none;
        }

        &:hover{
            background-color: $hover-color !important;
            cursor: pointer;
        }
    }

    .fm-menu-item-selected{
        color:$primary-background;
        border-right:$primary-background 2px solid;
    }
}


.fm-menu-container-V{
    border-right:#e9e9e9 1px solid;
    @include base;
    > .fm-submenu-container{
        left:1px;
    }
}

.fm-menu-container-H{
    @include base;

    height:50px;
    line-height:50px;
    border-bottom:1px solid #e9e9e9;


     .fm-submenu-container{
        display:inline-block;
        vertical-align:top;
        width:100%;
        z-index:100;

         .fm-submenu-title{
            border:none;
            height:50px;
            line-height:50px;
            text-align:center;
            transition:border-color 300ms ease;
            border-bottom:3px solid rgba($primary-background,0);
            width:100%;
            > .menu-icon{
                display:none;
            }

            &:hover{
                border-bottom:3px solid $primary-background;
                background-color: inherit !important;
            }
        }


        .fm-menu-item{
            padding:0 10px;
            text-align:center;
            border:none;
        }
    }

    > .fm-submenu-actived > .fm-submenu-items {
        box-shadow:0px 1px 2px rgba(220, 220, 220, 0.7);
        border:#e9e9e9 1px solid;
    }

    > .fm-submenu-container{
        width:auto ;
        min-width:120px;

        > .fm-submenu-items{
           margin-top:10px;
           max-height:none;
       }
    }

    .fm-submenu-pop-enter{//remark 把select控件也改成toggle的形式
        animation:fadeInDown 0.3s 0s ease-out both;
    }

    .fm-submenu-pop-leave{
        animation:fadeOutUp 0.3s 0s ease-in both;
    }


    .fm-submenu-container { //二级及以上
        position: relative;
        > .fm-submenu-items{
            overflow:visible;
            box-shadow:0px 1px 2px rgba(220, 220, 220, 0.7);
            border:#e9e9e9 1px solid;
            position:absolute;
            //left:100%;
            margin-left:100%;
            //margin-left: 5px;
            //padding-left: 5px;
            top:-1px;
            width: 100%;
            max-height: none;
            background-color: #fff;
            border-radius:2px;
        }
    }

    > .fm-submenu-container{ //一级菜单
        position: static;
        > .fm-submenu-items{
            position:relative;
            margin-left: auto;
            z-index:100;
        }
    }

    > .fm-menu-item{
        border-right:none;
        border-bottom:rgba($primary-background, 0) solid 3px;
        height:50px;
        line-height:50px;
        text-align:center;
        width:100%;
        display:inline-block;
        vertical-align:top;
        width: auto;
        min-width: 120px;
        padding:0px 0px;

        &:hover{
            transition:border-color 300ms ease;
            border-bottom:3px solid rgba($primary-background, 1);
            background-color: inherit !important;
        }
    }
}

.fm-menu-item[disabled="disabled"]{
    cursor: not-allowed !important;
    color:#ccc;
    &:hover{
        background-color:inherit !important;
    }
}


@include SubMenu;


/*

    position: absolute;
    top: 9px;
    left: 105%;
    /* margin-right: 50%; */
    /* z-index: 111111111111111111;
    overflow: visible;
    width: 100%;

*/
