@import '../../theme.scss';



.fm-menu-container{
    border-right:#e9e9e9 1px solid;
    > .fm-submenu-container{
        left:1px;
    }
}

.fm-submenu-title{
    height: 42px;
    line-height: 42px;
    user-select:none;
    border-right: #e9e9e9 1px solid;
    &:hover{
        background-color: $hover-color !important;
        cursor: pointer;
    }
}

.fm-submenu-container{
    width:100%;
    position: relative;
    > .fm-submenu-title > .menu-icon{
        position: absolute;
        right:0px;
        top: 0px;
        height: 42px;
        transition:transform 300ms ease;
        &:before{
            display: block;
            height: 42px;
            line-height: 42px;
        }
    }

    > .fm-submenu-items{
        @include slideUp;
    }
}

.fm-submenu-actived{
    > .fm-submenu-title > .menu-icon{
        @include rotate180;
    }

    > .fm-submenu-items{
        @include slideDown;
    }
}


.fm-menu-item{
    width: 100%;
    height: 42px;
    line-height: 42px;
    padding-right: 15px;
    border-right: #e9e9e9 1px solid;
    transition: border-color 300ms ease;
    
    > span{
        user-select:none;
    }

    &:hover{
        background-color: $hover-color !important;
        cursor: pointer;
    }

}


.fm-menu-item-selected{
    color:$primary-background;
    border-right:$primary-background 2px solid;
}
