<div class="fm-pagination clearfix">
    <div class="fm-pagination-pages">
        <ul>
            <li class="fm-pagination-prev icon-left" ng-if="current !== items[0]" ng-click="prev()"></li>
            <li ng-if="1 !== range()[0]" ng-click="choose(1)">1</li>
            <li class="fm-pagination-more" ng-if="1 !== range()[0]">...</li>
            <li ng-repeat="item in range() track by $index" class="{{current === item && 'fm-pagination-current'}}"  ng-click="choose(item)">
                {{item}}
            </li>
            <li class="fm-pagination-more" ng-if="items[items.length-1] !== range()[range().length - 1]">...</li>
            <li class="{{current === items[items.length-1] && 'fm-pagination-current'}}" ng-click="choose(items[items.length-1])" ng-if="items[items.length-1] !== range()[range().length - 1]">
                {{items[items.length-1]}}
            </li>
            <li class="fm-pagination-next icon-right" ng-if="current !== items[items.length-1]" ng-click="next()"></li>
        </ul>
    </div>
</div>
