@import "../../theme.scss";

$large-btn-height:50px;
$small-btn-height:0px;


@mixin loading($size){
    /*
    .btn-loader {
        position: relative;
        text-indent: -9999em;
        transform: translateZ(0);
        animation: btn-loader 1.1s infinite linear;
        border-radius: 50%;
    }

    .btn-loader,.btn-loader:after{
        border-radius: 50%;
        width: $size + 3px;
        height: $size + 3px;
    }
    &.loading{
        opacity:0.75;
        pointer-events:none;
    }

    &.buttons-default{
        .btn-loader {
            border:0.2em solid rgba(140, 140, 140, 0.37);
            border-left: 0.2em solid $primary-btn-background;
        }
    }

    &.buttons-primary{
        .btn-loader{
            border: 0.2em solid rgba(255, 255, 255, 0.2);
            border-left: 0.2em solid #ffffff;
        }
    }
    */
}

@mixin loader($size){
    &.fm-button-loading{
        padding-top:0px !important;
        padding-bottom: 0px !important;
        .fm-button-loader{
            width: 16px;
            padding-top: 1.5px;
            height: $size+(-5px);
            fill:$primary-btn-background;
        }
        pointer-events:none;
    }

    &.buttons-primary{
        .fm-button-loader{
            fill:#fff !important;
        }
    }
}




button.buttons-default{
    text-decoration: none;
    display:inline-block;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",SimSun,sans-serif;
    color:$default-btn-color;
    background-color:$default-btn-background;
    border:darken($default-btn-background, 20%) solid 1px;
    padding-left:3px;
    padding-right:3px;
    text-align:center;
    user-select:none;
    transition: color ease-in-out 100ms,background-color ease-in-out 100ms,border-color ease-in-out 100ms;
    border-radius: 3px;
    font-size:12px;
    font-weight:normal;
    touch-action:manipulation;
    cursor:pointer;
    padding:8px 12px;
    outline: none;
    vertical-align:middle;
    letter-spacing:normal;
    word-spacing:normal;
    white-space:nowrap;


    &:hover,&:visited{
        color:$default-btn-color;
        text-decoration: none;
    }

    &:hover{
        background: darken($default-btn-background,3%);
    }

    &:active{
        box-shadow: 0 0 0 1px rgba(0,0,0,0) inset, 0 0 6px rgba(0,0,0,.35) inset;
    }

    @include loader(34px);

}

button.buttons-primary{
    @extend button.buttons-default;
    color:$primary-btn-color;
    background-color:$primary-btn-background;
    border:darken($primary-btn-background, 10%) solid 1px;

    &:hover,&:visited{
        color:$primary-btn-color;
        text-decoration: none;
    }

    &:hover{
        background: darken($primary-btn-background, 5%);
    }
}

button.buttons-large{
    padding:10px 14px;
    font-size:14px;
    @include loader(41px)
}

button.buttons-small{
    padding:4px 8px;
    font-size:12px;
    @include loader(26px)
}

button[disabled],button[disabled]:hover{
    color:#ccc;
    background-color:#f3f5f7;
    border-color:#d9d9d9;
}

button[disabled]:hover{
    cursor: not-allowed;
}
button[disabled]:active{
    box-shadow:none;
}


/*

@keyframes btn-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*/
