@import "../../theme.scss";

$large-btn-height:50px;
$small-btn-height:0px;

.loa{
    animation:rotate360 700ms linear infinite;
}


@mixin loader($size){
    &.fm-button-loading{
        padding-top:0px !important;
        padding-bottom: 0px !important;
        background-color:$default-btn-background;
        border:darken($default-btn-background, 20%) solid 1px;

        .fm-button-loader{
            width: 16px;
            //padding-top: 1.5px;
            //height: $size+(-5px);
            height:100%;
            fill:$primary-btn-background;
            animation:rotate360 700ms linear infinite;
        }

        &:active{
            box-shadow: none;
        }

        &:hover{
            background: $default-btn-background;
            cursor: initial;
        }
    }

    &.buttons-primary.fm-button-loading{
        background: $primary-btn-background !important;
        border:darken($primary-btn-background, 10%) solid 1px !important;

        .fm-button-loader{
            fill:#fff !important;
        }

        &:hover{
            background: $primary-btn-background !important;
            border:darken($primary-btn-background, 10%) solid 1px !important;
        }
    }
}


@mixin disable(){
    &.buttons-primary.fm-button-disabled[disabled=true],
    &.buttons-default.fm-button-disabled[disabled=true],
    &.buttons-primary.fm-button-disabled[disabled=disabled],
    &.buttons-default.fm-button-disabled[disabled=disabled]{
        color:#ccc !important;
        background-color:#f3f5f7 !important;
        border-color:#d9d9d9 !important;
        &:hover{
            cursor: not-allowed !important;
        }
    }

    &.buttons-primary.fm-button-disabled[disabled=true],
    &.buttons-primary.fm-button-disabled[disabled=disabled]{
        .fm-button-loader{
            fill:#ccc !important;
        }
    }
}


button.buttons-default{
    text-decoration: none;
    display:inline-block;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",SimSun,sans-serif;
    color:$default-btn-color;
    background-color:$default-btn-background;
    border:darken($default-btn-background, 20%) solid 1px;
    padding-left:3px;
    padding-right:3px;
    text-align:center;
    user-select:none;
    transition: color ease-in-out 100ms, background-color ease-in-out 100ms, border-color ease-in-out 100ms, width ease-in-out 100ms;
    border-radius: 3px;
    font-weight:normal;
    touch-action:manipulation;
    cursor:pointer;
    padding:8px 12px;
    outline: none;
    vertical-align:middle;
    letter-spacing:normal;
    word-spacing:normal;
    white-space:nowrap;
    height:34px;
    font-size:12px;


    &:hover,&:visited{
        color:$default-btn-color;
        text-decoration: none;
    }

    &:hover{
        background: darken($default-btn-background,3%);
    }

    &:active{
        box-shadow: 0 0 0 1px rgba(0,0,0,0) inset, 0 0 6px rgba(0,0,0,.35) inset;
    }

    @include loader(34px);
    @include disable;
}

button.buttons-primary{
    @extend button.buttons-default;
    color:$primary-btn-color;
    background-color:$primary-btn-background;
    border:darken($primary-btn-background, 10%) solid 1px;

    &:hover,&:visited{
        color:$primary-btn-color;
        text-decoration: none;
    }

    &:hover{
        background: darken($primary-btn-background, 5%);
    }
}

button.buttons-large{
    padding:10px 14px;
    font-size:14px;
    height: 41px;
    @include loader(41px)
    @include disable;
}

button.buttons-small{
    padding:4px 8px;
    font-size:12px;
    height: 26px;
    @include loader(26px)
    @include disable;
}


button[disabled=true],
button[disabled=true]:hover,
button[disabled=disabled],
button[disabled=disabled]:hover,{
    color:#ccc !important;
    background-color:#f3f5f7 !important;
    border-color:#d9d9d9 !important;
}

/*
.fm-button-disabled[disabled],
.fm-button-disabled[disabled]:hover,
.fm-button-disabled[disabled=true],
.fm-button-disabled[disabled=true]:hover,
{
    color:#ccc !important;
    background-color:#f3f5f7 !important;
    border-color:#d9d9d9 !important;
}
*/
/*
button.buttons-primary[disabled],button.buttons-default[disabled], button.buttons-primary[disabled]:hover,button.buttons-default[disabled]:hover{
    color:#ccc !important;
    background-color:#f3f5f7 !important;
    border-color:#d9d9d9 !important;
}
*/


button[disabled]:hover{
    cursor: not-allowed;
}
button[disabled]:active{
    box-shadow:none;
}
