* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",SimSun,sans-serif;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",SimSun,sans-serif;
  line-height: 1.5;
  color: #777;
  font-size: 14px;
  background: #fff;
}

a{
    &:hover,&:after{
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
}


body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}




.clearfix {
  zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
  }
}


.hide{
    display: none !important;
}

.show{
    display: block !important;
}

.disappear{
    opacity:0 !important;
}

.pop-disappear-animation{
    //visibility:hidden !important;
    opacity:0.3 !important;
    transform:scale(0) translateZ(0);
}




.close{
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    opacity: .2;
    &:hover,&:focus{
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .5;
    }
}

button.close{
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

@keyframes pulse{
    30%{opacity:.6}
    60%{opacity:0}
    to{opacity:.6}
}

@keyframes query{
    0% {opacity:1;transform:translateX(-50%) scale(.3,1)}
    100% {opacity:0;transform:translateX(35%) scale(0,1)}
}

@keyframes query2{
    0% {opacity:0.7;transform:translateX(40%) scale(0.05,1)}
    25%{opacity:0.3;transform:translateX(0%) scale(0.1,1)}
    50% {opacity:0.7;transform:translateX(-40%) scale(0.05,1)}
    75%{opacity:0.3;transform:translateX(0%) scale(0.1,1)}
    100% {opacity:0.7;transform:translateX(40%) scale(0.05,1)}
}

@keyframes fadeInDown {
    0%{opacity: 0;-webkit-transform:translateY(-10px)}
    100%{opacity: 100;-webkit-transform:translateY(0)}
}

@keyframes fadeOutUp {
    0%{opacity: 100;display:block;-webkit-transform:translateY(0px)}
    100%{opacity: 0;display:none;-webkit-transform:translateY(-10px)}
}
