<!doctype html>
<html ng-app="app" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fermi Components</title>
  <base href="/">
  <style>
    #fermiTooltips > div > *{
        margin-right: 30px;
    }
  </style>
</head>
<body>
    <div class="clearfix"> Hello, Fermi </div>
    <div class="main" ng-controller="main">
        <div ng-style="che()"></div>
        <div id="breadcrumb">
            <p>面包屑导航</p>
            <Fermi:breadcrumb items="['深夜面包房','法式长棍','巧克力可颂']"></Fermi:breadcrumb>
        </div>

        <div id="fermischedule">
            <p>日程表</p>
            <Fermi:schedule alias="events" ></Fermi:schedule>
        </div>


        <div id="fermiswitch">
            <p>开关器</p>
            <Fermi:switch ng-model="item" ng-click="test(item)" fermi-default="true"></Fermi:switch>
            <Fermi:switch ng-model="item" ng-click="test(item2)" fermi-default="false"></Fermi:switch>
        </div>

        <div id="fermiTooltips" >
            <p>工具提示</p>
            <div style="width:700px;margin:0 auto">
                <Fermi:tooltip content="Bottom" placement="bottom" >
                    <a href="http://www.baidu.com">向下看</a>
                </Fermi:tooltip>
                <Fermi:tooltip content="Top" placement="top">
                    <a href="http://www.baidu.com">向上看</a>
                </Fermi:tooltip>
                <Fermi:tooltip content="Left" placement="left">
                    <a href="http://www.baidu.com">向左看</a>
                </Fermi:tooltip>
                <Fermi:tooltip content="Right" placement="right">
                    <a href="http://www.baidu.com">向右看</a>
                </Fermi:tooltip>
            </div>
        </div>

        <div id="fermiProgress">
            <p>Progress bar</p>
            <div style="width:500px">
                <Fermi:LineProgress ng-model="entity1" fermi-default="0"></Fermi:LineProgress>
            </div>
        </div>

        <div id="fermiTab">
            <p>Tab</p>
            <Fermi:Tabs>
                <Fermi:Tab header="Tab1">
                </Fermi:Tab>
            </Fermi:Tabs>
        </div>
    </div>
</body>
</html>
