$primary-background:#488fcd;
$primary-btn-color:#fff;
$primary-btn-background:$primary-background;
$default-btn-color:#565656;
$default-btn-background:#f6f6f6;
$large-font-size:14px;
$default-font-size:12px;
$small-font-size:12px;
$hover-color:#eaf8fe;
